$main-backround-color: #fff;
$secondary-backround-color: #f5f4fa;
$footer-backround-color: #2f303a;

$title-text-color: #212121;
$main-text-color: #757575;
$white-text-color: #fff;

$accent-color: #2196f3;

$main-icon-color: #afb1b8;

$main-font-family: 'Roboto', sans-serif;
$logo-font-family: 'Raleway', sans-serif;

$transition-timing: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);