.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $footer-backround-color;
}

.footer__container {
  @extend .container;
  display: flex;
  align-items: baseline;
}

.footer-address {
  width: 231px;
  margin-right: 70px;
}

.footer-address__container {
  font-style: inherit;
}

.footer-address__list {
  @extend %list;
}

.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address__geo-link {
  @extend %link-decor;

  color: #fff;
  line-height: 1.71;

  transition: color $transition-timing $transition-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-address__link {
  @extend %link-decor;

  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;

  transition: color $transition-timing $transition-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-socials {
  width: 206px;
}

.footer-title {
  display: inline-block;
  margin-bottom: 20px;

  color: #fff;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-socials__list {
  @extend %list;

  display: flex;
}

.footer-socials__item {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-socials__link {
  @extend %link-decor;

  display: flex;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color $transition-timing $transition-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer-socials__icon {
  fill: currentColor;
}

.footer-subscribe {
  margin-left: auto;
}

.subscribe-form {
  display: flex;
}

.subscribe-form__email {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 1.25;

  color: #fff;
  background-color: $footer-backround-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: border-color $transition-timing $transition-function;

  &:focus,
  &:hover {
    outline: 0;
    border-color: #fff;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}
